<header id="header" class="site-header">
    <nav>
        <input class="hamburger-toggle navigation-toggle" id="hamburger-toggle" type="checkbox"/>
        <label class="hamburger" for="hamburger-toggle"></label>
        <ul class="navigation">
            <li><a href="{{rootPath}}index.html">Home</a></li>
            <li><a href="{{rootPath}}#articles">Articles</a></li>
            <li><a href="{{rootPath}}#projects">Projects</a></li>
            <li><a href="{{rootPath}}about/index.html">About</a></li>
            <li><a href="{{rootPath}}contact/index.html">Contact</a></li>
        </ul>
    </nav>
</header>