<!doctype html>
<html lang="en">
{{> head}}
<body>
    {{> navigation}}
    <div id="article-navigation-background" class="article-navigation-background" style="background-image: url(../../images/header-images/{{this.header-image}})"></div>    
    <article class="article">
        <header class="article-header" style="background-image: url(../../images/header-images/{{this.header-image}})">
            <h1>{{ title }}</h1>
        </header>
        <section class="article-content">
        {{{ contents }}}
        </section>
    </article>
</body>
</html>