@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html,
body {
    color: #414042;
    font-family: 'Poppins', 'Helvetica', 'Tahoma', sans-serif;
    font-size: 10px;
}

h1,
h2,
h3,
h4 {
    color: #000000;
    line-height: 1.4em;
}

.dark-theme {
    background-color: #000000;
    color: #ffffff;
    h1,
    h2,
    h3,
    h4,
    a {
        color: #f1f2f2;
    }

    strong {
        color: #ffffff;
    }
}

h1 {
    color: white;
    font-size: 3.4rem;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 48px 0 0;
}

h2 + h3 {
    margin-top: 0;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 32px 0 8px;
}

h4 {
    font-size: 1.8rem;
    margin: 0 0 8px;
}

a,
li,
p,
pre {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6em;
}

p {
    margin: 8px 0;
}

a {
    color: #000000;
    font-weight: 400;
}

pre {
    background: #414042;
    border-radius: 8px;
    color: #d3ff75;
    margin: 32px 0 48px;
    overflow-x: auto;
    padding: 16px;
    white-space: pre-wrap;
}

ul,
ol {
    margin: 8px 0 0;
}

strong {
    font-weight: 600;
}

blockquote {
    font-style: italic;
    margin: 0;
    padding: 8px 64px;
    position: relative;

    &::before,
    &::after {
        font-size: 8rem;
        font-weight: 900;
        line-height: 1em;
        position: absolute;
    }

    &:before {
        top: 20px;
        left: 0;
        content: "\201C";
    }

    &:after {
        bottom: -20px;
        right: 0;
        content: "\201D";
    }

    p {
        font-size: 3rem;
        line-height: 1.4em;
    }
}